# MantisBT Credentials
MANTIS_USERNAME=
MANTIS_PASSWORD=
GOOGLE_SA_KEY_FILE=./gcp-service-account.json

# Email Configuration (SMTP)
EMAIL_USER=
EMAIL_PASS=
EMAIL_TO=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
